.container {
  background-color: #ffffff;
}
.main {
  background-color: #e9d3d3;
}
.card {
  background-color: #8902a6;
}
.owner {
  padding-top: 2rem;
}

.text {
  color: #8902a6;
}
.regbutton {
  background-color: #8902a6;
}

table,
th {
  /* // border: 1px xsolid; */
  border: 1px solid #c2cfe0;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700, Bold;
  font-size: 1rem;
  line-height: 14px;
  /* identical to box height */
  color: #420352;
}
table {
  width: 100%;
}
th {
  text-align: center;
  height: 2rem;
}

.business__info {
  font-family: Raleway;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #80009f;
  margin-top: 1rem;
  margin-left: 25rem;
}

/* .form__container {
  margin-top: 1rem;
  padding: 2.5rem;
  margin: 0px 9rem 0px 25rem;
  border: 1px solid #c2cfe0;
  border-radius: 0.313rem;
  flex-basis: calc(50%);
} */
.businessform {
  margin-bottom: 0.625rem;
}
.inputbusiness {
  height: 2.5rem;
}

.inputbusiness,
.inputaboutbusiness {
  border-color: #c2cfe0;
  border: 1px solid #c2cfe0;
  outline: none;
}
input,
textarea,
select {
  outline: none;
  border: 1px solid #c2cfe0;
}

textarea {
  white-space: pre-wrap;
}

/* Radio element, when checked */
input[type='radio'] {
  box-shadow: 0 0 0 3px none;
}
/* text area about business */
input[type='textarea'] {
  height: 5rem;
}

/* .formInput :first-child {
  background-color: aqua;
} */

.selectcategory,
.businessname {
  display: flex;
  /* width: 100%; */
}

.selectcategory {
  margin-bottom: 1rem;
  height: 2rem;
}

.labelselect {
  margin: 0.2rem 0 0.7rem 0;
}
/* .selectcategory {
  grid-area: select;
}
.businessname {
  grid-area: business;
} */

.flex-container1,
.flex-container2,
.flex-container3,
.flex-container4,
.flex-container5,
.flex-container6,
.flex-container7 {
  display: flex;
  width: 100%;
  margin-bottom: 0.625rem;
}
.flex-container1 {
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container2,
.flex-container3,
.flex-container4,
.flex-container5,
.flex-container6,
.flex-container7 {
  flex-direction: row;
}
.formcategory {
  width: 100%;
  /* margin-right: 1rem; */
}
/* company logo */
.companylogo {
  width: 109%;
  height: auto;
  display: flex;
}

.logoform {
  font-style: normal;
}
.inputlogo {
  margin-top: 10px;
  width: 100%;
  height: 2.5rem;
}

.categoryselect {
  width: 100%;
}

.inputselect,
.inputphonenumber {
  height: 2.5rem;
  width: 26.063rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-right: 1rem;
}

/* country */
/* .flex-container3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.625rem;
  width: 100%;
} */
.countryitem,
.districtitem,
.villageitem,
.tinitem {
  margin-right: 1rem;
}
.countryitem,
.cellitem {
  width: 24rem;
}

.districtitem {
  width: 159%;
}

.countryitem,
.provinceitem,
.districtitem,
.cellitem,
.villageitem,
.streetitem,
.phoneitem,
.currencyitem,
.tinitem,
.websiteitem {
  height: 2.8125rem;
}
/* .countryform,
.districtform,
.provinceform,
.cellform,
.villageform,
.streetform,
.phoneform,
.currencyform,
.tinform,
.websiteform {
  font-style: normal;
  width: 100%;
} */

/* .inputcountry,
.inputprovince,
.inputdistrict,
.inputcell,
.inputvillage,
.inputstreet,
.inputcurrency,
.inputtinnumber,
.inputwebsite {
  margin-top: 10px;
  width: 100%;
  height: 2.5rem;
} */

/* workspace */
.flex-container8 {
  width: 100%;
}
.workspace {
  margin-bottom: 10px;
}
.workspacecheck {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  column-gap: 20px;
}
/* .radioform {
  display: flex;
  flex-direction: row;
} */
.flex-container9 {
  margin-top: 20px;
}
.radiowned,
.radiorental {
  margin-top: 20px;
  margin-left: 10px;
}
.inputaboutbusiness {
  height: 5rem;
  width: 100%;
}
/* .flex-container10 {
  display: flex;
  flex-direction: row;
  align-content: center;
} */

.clearbuton,
.continuebuton {
  width: 13.125rem;
  height: 2.813rem;
  margin-top: 1.25rem;
  outline: none;
  border: none;
}
.clearbuton {
  margin-right: 20rem;
  background-color: #979797;
}
/* .textbutton {
  color: #ffffff;
} */
.continuebuton {
  background-color: #80009f;
}

.selectinput {
  display: flex;
  flex-direction: column;
  width: 24rem;
  margin-right: auto;
  margin-right: 1rem;
}

/* input {
  padding: 10px;
  margin: 9px 0px;
  border-radius: 5px;
  border: 1px solid rgba(224, 221, 221, 1);
} */
.businessname {
  width: 45.1rem;
  margin-top: 0.4rem;
}
label {
  /* font-size: 12px; */
  color: #000000;
  font-size: 0.8rem;
  margin: 0.2rem 0 0.5rem 0;
}
.formInput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.errormessage {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused='true'] {
  border: 1px solid red;
}

input:invalid[focused='true'] ~ span {
  display: block;
}

textarea:invalid[focused='true'] {
  border: 1px solid red;
}

textarea:valid[focused='true'] ~ span {
  display: block;
}
/* button {
  width: 100%;
  color: #ffffff;
  height: 2rem;
  border: none;
  border-radius: 3px;
  background-color: #8902a6;
  outline: none;
  margin-bottom: 1rem;
} */
/* form {
  width: 50%;
} */
