.container {
  background-color: #ffffff;
}
.main {
  background-color: #e9d3d3;
}
.card {
  background-color: #8902a6;
}
.owner {
  padding-top: 2rem;
}

.fimbooimage {
  height: 2.375rem;
  width: 11.875rem;
  left: 1.125rem;
  top: 1.125rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}
.text {
  color: #8902a6;
}
.regbutton {
  background-color: #8902a6;
}

table,
th {
  /* // border: 1px xsolid; */
  border: 1px solid #c2cfe0;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700, Bold;
  font-size: 1rem;
  line-height: 14px;
  /* identical to box height */
  color: #420352;
}
table {
  width: 100%;
}
th {
  text-align: center;
  height: 2rem;
}

.business__info {
  font-family: Raleway;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #80009f;
  margin-top: 1rem;
  margin-left: 25rem;
}

.form__container {
  padding: 2.5rem;
  width: 50rem;
  margin-left: 25rem;
  border: 1px solid #c2cfe0;
  border-radius: 0.313rem;
}
.businessform {
  margin-bottom: 0.625rem;
}
.inputbusiness {
  height: 2.5rem;
}

.inputbusiness,
.inputaboutbusiness {
  border-color: #c2cfe0;
  border: 1px solid #c2cfe0;
  outline: none;
}
input,
textarea,
select {
  outline: none;
  border: 1px solid #c2cfe0;
}

.flex-container1,
.flex-container2,
.flex-container3,
.flex-container4,
.flex-container5,
.flex-container6,
.flex-container7 {
  display: flex;
  width: 100%;
  margin-bottom: 0.625rem;
}
.flex-container1 {
  flex-direction: column;
}
.flex-container2,
.flex-container3,
.flex-container4,
.flex-container5,
.flex-container6,
.flex-container7 {
  flex-direction: row;
}
.formcategory {
  width: 100%;
  /* margin-right: 1rem; */
}
/* company logo */
.companylogo {
  width: 100%;
}

.logoform {
  font-style: normal;
}
.inputlogo {
  margin-top: 10px;
  width: 100%;
  height: 2.5rem;
}

.categoryselect {
  width: 100%;
}

.inputselect,
.inputphonenumber {
  height: 2.5rem;
  width: 26.063rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-right: 1rem;
}

/* country */
/* .flex-container3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.625rem;
    width: 100%;
  } */
.countryitem,
.districtitem,
.villageitem,
.tinitem {
  margin-right: 1rem;
}

.countryitem,
.provinceitem,
.districtitem,
.cellitem,
.villageitem,
.streetitem,
.phoneitem,
.currencyitem,
.tinitem,
.websiteitem {
  width: 100%;
}
.countryform,
.districtform,
.provinceform,
.cellform,
.villageform,
.streetform,
.phoneform,
.currencyform,
.tinform,
.websiteform {
  font-style: normal;
  width: 100%;
}

.inputcountry,
.inputprovince,
.inputdistrict,
.inputcell,
.inputvillage,
.inputstreet,
.inputcurrency,
.inputtinnumber,
.inputwebsite {
  margin-top: 10px;
  width: 100%;
  height: 2.5rem;
}

/* workspace */
.flex-container8 {
  width: 100%;
}
.workspace {
  margin-bottom: 10px;
}
.workspacecheck {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  column-gap: 20px;
}
/* .radioform {
    display: flex;
    flex-direction: row;
  } */
.flex-container9 {
  margin-top: 20px;
}
.radiowned,
.radiorental {
  margin-top: 20px;
  margin-left: 10px;
}
.inputaboutbusiness {
  height: 5rem;
  width: 100%;
}
.flex-container10 {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.clearbuton,
.continuebuton {
  width: 13.125rem;
  height: 2.813rem;
  margin-top: 1.25rem;
  outline: none;
  border: none;
}
.clearbuton {
  margin-right: 20rem;
  background-color: #979797;
}
.textbutton {
  color: #ffffff;
}
.continuebuton {
  background-color: #80009f;
}
