.businessFormcontainer {
  display: flex;
}
.mainimage {
  height: 3.375rem;
  width: 11.875rem;
  /* margin-bottom: 3rem;
  margin-left: 3rem; */
  margin: 2rem 0 1.5rem 1.5rem;
}
.business-Form {
  width: auto;
}
/* PROGRESS BAR */
/* .progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
} */

.form-container {
  padding: 2.5rem;
  margin: 4% 13.5% 0 29%;
  border: 1px solid #c2cfe0;
  border-radius: 0.313rem;
  flex-basis: calc(50%);
}

input[type='checkbox'] {
  width: 13px; /* Set width */
  height: 13px; /* Set height */
  
  /* clip-path: circle(44% at 53% 50%); Set the clip path of circle */
  /* circle(45% at 50% 50%); */
  background-color: #8902a6;
}
.create-business {
  background-color: #8902a6;
}
/* th {
color: #ffff;
} */
/* th  */
table {
  /* // border: 1px xsolid; */
  border: 1px solid #c2cfe0;
  box-sizing: border-box;
  border-radius: 2px;
  /* font-family: 'Raleway';
  font-style: normal;
  font-weight: 700, Bold; */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 14px;
  /* identical to box height */
  color: #420352;
  border-collapse: collapse;
}
table {
  width: 100%;
}
th {
  text-align: center;
  height: 2rem;
}

td {
  border: 1px solid #c2cfe0;
  font-size: 1rem;
  padding: 1rem;
}
.clearbutton {
  margin: 2rem;
  
}