// Here you can add other styles
.container {
  background-color: #ffffff;
}
// .contain {
//   position: absolute;
// }
.main {
  background-color: #e9d3d3;
}
.card {
  background-color: #8902a6;

  //   border-radius:40px;
}
